@import './mixins.scss';

.page-auth-wrapper {
   display:grid;
   grid-template-columns: 1fr 1fr;
   height:calc(100vh - 84px);

   .left-side-auth {
       background-size: cover;
   }
   .right-side-auth {
       display:flex;
       justify-content: center;
       align-items: center;
       .form-wrapper {
           @include btn();
           button {
               background-color: orange;
           }
           @include input-element();
           display: grid;
           grid-gap:21px;
           background-color:transparent;

           .form-group {
               display:flex;
               svg {
                   font-size: 2em;
                   margin-right: 15px;
               }
           }

       }
   }
}