@import 'var.scss';

body {
 margin:210px;
 font-family:'Nanum Myeongjo', serif ;
 background-color:$darkteal;
 
 color:orange;
 .container {
     margin-left:5px;
     margin-right:5px;
 }
 
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}
@media (max-device-width:600px) {

    body {
    padding-bottom: 100px; 
      .container {
          margin:0px;
      } }


}