@import 'var.scss';

body {
 margin:2px;
 font-family:'Nanum Myeongjo', serif ;
 background-color:$darkteal;
 color:orange;
 
 
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}
@media (max-device-width:600px) {

    body {
    padding-bottom: 100px;  }


}