@keyframes fadeinout {
    from {
        width:0%;
        opacity: 0%;
        transform: scale(40%);
    } to {
        opacity: 50%;
        width: 50%;
        transform: scale(100%);
    }
}



.contact-me {
    margin-left: 25%;
    font-size: 20px;
    color:white;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;   
    width: 50%;
    animation: fadeinout 3s ease-in-out forwards;
        background-color: #4B8BBE ;
        box-shadow: 2px 1px 5px black ;
        
    
    
    

}
@media (max-device-width:600px) {
    .contact-me {
        margin-left: 25%;
        border-radius:20px ;

        

    }
    
}

@media (max-device-width:450px) {
    .contact-me {
        margin-left: 25%;
        font-size: 15px;
        

    }
    
}