@keyframes fadeinout {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 83px);
    animation: fadeinout 1s ease-in-out forwards;
    

    .left-column {
        box-shadow: 2px 2px 10px black ;
        img {
        width: 100%; 

          }
    }
    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media (max-device-width:600px) {
    .contact-container {
        font-size:12px;
        display: grid;
        grid-template-columns: 1fr;
        .left-column {
           display: flex;
           
        }
        .right-column {
            display: flex;
            
            text-align: center;
        }
    }
    
}