@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

  
.gitPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  
    .snippets {
        .snippet-wrapper { 
            display: grid;
            grid-template-columns: 1fr;
        
            
      
        img {
            width: 450px;
            height: 450px;
            margin-left:130px
    
            
        } 
      h4 {
        text-align: center; 
      }
      }
    }
  
  
  
    .git-container {
    width: 30%;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;



    

    .git-wrapper {
     
        text-align:center;
        background-color:transparent;
        border-radius: 20px;
        transition: 0.5s ease-in-out;
        font-family: 'Nanum Myeongjo', serif;
        font-size: 13px;
        text-align: center;
        width:100%;
        border-bottom:1px solid rgb(6, 48, 92);
        .clone-url {
            cursor: pointer;
        }
        a { 
            text-decoration: none;
            color:orange;
        
        }
        &:hover {
            color:teal;
            background-color:orange;
            box-shadow: 1px 1px 10px black;
            border-radius: 1px;
            a {
                color:teal;
            }
        }
    }


  } 
}

.main-git {
   display: flex;
   justify-content: center;
   font-family: 'Lobster', cursive;
   text-decoration: underline;
} 
.percentage-wrapper {
    display: flex;
    justify-content: space-around;
    font-family: 'Nanum Myeongjo', serif;
}
.loading {
    display: flex;
    font-size:30px;
    justify-content: center;
}

@media (max-device-width:600px) {
    .gitPage {
        .snippets {

            .snippet-wrapper {
                img {
                    margin-left: 0px;
                }
            }
        }
        display: grid;
        grid-template-columns: 1fr;
        h1 {
            display: flex;
            justify-content: center;
        }
    .git-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        .git-wrapper {
            font-size: 8px;
        }
    }  
  }
}