.ReactModal__Content, 
.ReactModal__Content--after-open {
  height: 80%;
  
}

.ReactModal__Body--open {
  background-color: red;
}

.form-wrapper {
  background-color:white;
   button {
     background-color: white;
     color:teal;
   }

}