@import 'var.scss';

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding:30px;
}
.left-side {
    display: flex;
}

.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    margin-right: 20px;
    

    a {
        color: orange;
        text-decoration:none;
        
        &:hover {
            color:black;
        }
    }
    &:hover {
        border-bottom: 1px solid black;
    } 
    .nav-link-active  {
        border-bottom: 1px solid  black ;
        color:black;
        border-radius: 4px;
        transition: 0.5s ease-in-out;
        &:hover {
            border-bottom: 1px transparent;

        }
    }

}

@media (max-device-width:600px) {
    .nav-wrapper {
        display: flex;
        justify-content: center;
        position:fixed;
        padding: 0px;
    
        top:91%;
        width:100%;
        font-weight: 900;
        
   
        .left-side {
        
            width: 100%;
            
            padding-top: 10px;
            
        
            
          



            .nav-link {
                width:100px;
                font-size: 10px;
                text-align: center;
            
               
                a { text-align: center;
                    align-items: center;
                    width: 10%;
                    color:orange;
                }
                
            }
        }
        .right-side {
            width:0%;
        }
    }
}

@media (max-device-width:420px) {
    .nav-wrapper {
        .left-side {
        .nav-link {
            font-size: 10px;

        }
      }
    }
}
@media (max-device-width:375px) {
    .nav-wrapper {
        .left-side {
        .nav-link {
            font-size: 10px;

        }
      }
    }
}