.resume-wrapper {
    box-shadow: 2px 2px 5px black;

    .resume-cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:25px;
        margin:20px;
        color: white;
    }
    .resume-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        a {
            text-decoration: none;
            color: orange;
            cursor: pointer;
            transition: 0.5s ease-in-out;

            &:hover {
                border: 1px solid orange;
                padding:6px;
                border-radius: 20px;
            }

        }
    }
    
}
.LinkedIn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 30px;
    
    a {
        text-decoration: none;
        color:darkblue;
        cursor: pointer;

    }
}

@media (max-device-width : 600px) {
   
     
    .resume-wrapper {
       width: 100%;
    .resume-cont {
    display: grid;
    grid-template-columns: 1fr; }
 
    }
  }
